  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Age</a></li>
    <li role="presentation"><a href="/stats/year">Hired</a></li>
    <li role="presentation"><a href="/stats/city">City</a></li>
    <li role="presentation"><a href="/stats/age">State</a></li>
    <li role="presentation"><a href="/stats/department">Department</a></li>
  </ul>
  <p class="info-p"><strong>Average Robot Age:</strong> <%= @age %></p>
