<div class="jumbotron white">
  <h2 class="welcome center">Welcome to Robot World</h2>
  <p class="center tagline">The worlds largest database of fake robots with <%= @count %> robots and counting!</p>
  <p class="center">
    <a class="btn btn-primary btn-lg btn-hero" href="/robots" role="button">Directory</a>
    <a class="btn btn-primary btn-lg btn-hero" href="/robots/new" role="button">Create Robot</a>
    <a class="btn btn-primary btn-lg btn-hero" href="/stats/age" role="button">Stats</a>
  </p>
</div>
