<form action="/robots" method="post">
  <p>Enter a new robot:</p>
  <input type="text" name="robot[name]">
  <input type="text" name="robot[city]">
  <input type="text" name="robot[state]">
  <input type="text" name="robot[avatar]">
  <input type="text" name="robot[birthdate]">
  <input type="text" name="robot[date_hired]">
  <input type="text" name="robot[department]">
  <input type='submit'/>
</form>
